<ul>
    <li class="animated purple-nostr">
        <a href="https://nosta.me/npub1gcxzte5zlkncx26j68ez60fzkvtkm9e0vrwdcvsjakxf9mu9qewqlfnj5z" class="tooltip" data-tooltip="Twitter" target="_blank">
            <img src="images/nostr-white.png" height="18px" width="18px">
        </a>
    </li>
    <li class="animated green">
        <a href="https://cash.app/$VitorPamplona" class="tooltip" data-tooltip="Cash" target="_blank">
            <i class="fas fa-dollar-sign fa-lg"></i>
        </a>
    </li>
    <li class="animated black">
        <a href="https://github.com/vitorpamplona" class="tooltip" data-tooltip="GitHub" target="_blank">
            <i class="fab fa-github fa-lg"></i>
        </a>
    </li>
</ul>
<p>©Vitor Pamplona. Made in Boston.</p>