<ul>
    <li class="animated blue-twitter">
        <a href="https://twitter.com/vitorpamplona" class="tooltip" data-tooltip="Twitter" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
        </a>
    </li>
    <li class="animated instagram">
        <a href="https://www.instagram.com/vfpamp/" class="tooltip" data-tooltip="Instagram" target="_blank">
            <i class="fa fa-instagram fa-lg"></i>
        </a>
    </li>
    <li class="animated blue-linkedin">
        <a href="https://www.linkedin.com/in/vitorpamplona/" class="tooltip" data-tooltip="Linkedin" target="_blank">
            <i class="fa fa-linkedin fa-lg"></i>
        </a>
    </li>
    
    <li class="animated black">
        <a href="https://medium.com/@vitorpamplona" class="tooltip" data-tooltip="Medium" target="_blank">
            <i class="fa fa-medium fa-lg"></i>
        </a>
    </li>
    <li class="animated green">
        <a href="https://cash.app/$VitorPamplona" class="tooltip" data-tooltip="Cash" target="_blank">
            <i class="fa fa-usd fa-lg"></i>
        </a>
    </li>
    <li class="animated black">
        <a href="https://github.com/vitorpamplona" class="tooltip" data-tooltip="GitHub" target="_blank">
            <i class="fa fa-github fa-lg"></i>
        </a>
    </li>
</ul>
<p>©Vitor Pamplona. Made in Boston.</p>