<ul>
    <li class="animated blue-twitter">
        <a href="https://twitter.com/vitorpamplona" class="tooltip" data-tooltip="Twitter" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
        </a>
    </li>
    <li class="animated instagram">
        <a href="https://www.instagram.com/vfpamp/" class="tooltip" data-tooltip="Instagram" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
        </a>
    </li>
    <li class="animated linkedin">
        <a href="https://www.linkedin.com/in/vitorpamplona/" class="tooltip" data-tooltip="Linkedin" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
        </a>
    </li>
    
    <li class="animated yellow">
        <a href="mailto:vitor@vitorpamplona.com" class="tooltip" data-tooltip="Email" target="_blank">
            <i class="fa fa-envelope fa-lg"></i>
        </a>
    </li>
    <li class="animated green">
        <a href="http://www.paypal.me/vitorpamplona" class="tooltip" data-tooltip="PayPal" target="_blank">
            <i class="fa fa-usd fa-lg"></i>
        </a>
    </li>
    <li class="animated black">
        <a href="https://github.com/vitorpamplona" class="tooltip" data-tooltip="GitHub" target="_blank">
            <i class="fa fa-github fa-lg"></i>
        </a>
    </li>
</ul>
<p>©Vitor Pamplona. Made in Boston.</p>